*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

table, th,td{
  border: 1px solid black ;
  border-collapse: collapse;
  padding : 10px;
  margin-left: 5px ;
  margin: 20px;
}

ul{
  padding: 20px;
}

ol{
  padding: 20px;
}
/* 
nav ul{
  display: flex;
  list-style-type: none;
  padding: 5px;
  justify-content: space-around;
} */

dl{
  padding: 10px;
}

.family{
  padding:10px;
  display:flex;
  flex-direction: row;
  gap: 50px;
}

.father{
  background-color: lightblue;
  padding: 10px;
}

.mother{
  background-color: lightpink;
  padding: 10px;
}

.child{
  background-color: lightgreen;
  padding: 10px;
}

.Family1{
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 10px;
}
.Family1 div{
  padding: 10px;
  background-color: lime;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}